/* Import font styling from google fonts - src: fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", "Courier New", Courier, monospace;
  --border-color: #de6b48;
  --fill-color: #1e8aee;
}

header h1 {
  display: flex;
  justify-content: center;
  margin: 10px 10px 20px;
  padding: 20px 0;
  border: 1px solid var(--border-color);
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.cards .letter-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--border-color);
  visibility: hidden;
}

.cards .letter-card img {
  width: 400px;
  height: 400px;
}

.cards .letter-card button {
  color: #fff;
  font-size: 32px;
  background-color: var(--fill-color);
  padding: 0 60px;
  margin: 12px 0;
  border: 0px;
  cursor: pointer;
}

.reveal-btns {
  display: flex;
  justify-content: space-around;
}

.reveal-btns button {
  font-size: 36px;
  padding: 10px 100px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: all 0.5s ease;
}

.reveal-btns button:hover {
  color: var(--border-color);
}

.reveal-btns #b-btn {
  margin: 0 -200px;
}
